

/*--------Gradients---------*/
.headergradiant{
	background:url(../../images/common/header_bg.jpg) no-repeat center;
	background-size:100% 100%

}

.content_upGradiant
{
background: #edecf1; /* Old browsers */
background: -moz-linear-gradient(top, #edecf1 0%, #f2f1f6 2%, #f2f1f7 6%, #f0eff5 9%, #f1f0f5 79%, #e7e8e0 88%, #e4e8d9 89%, #dde3c9 95%, #d3dabb 98%, #bec7a8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edecf1), color-stop(2%,#f2f1f6), color-stop(6%,#f2f1f7), color-stop(9%,#f0eff5), color-stop(79%,#f1f0f5), color-stop(88%,#e7e8e0), color-stop(89%,#e4e8d9), color-stop(95%,#dde3c9), color-stop(98%,#d3dabb), color-stop(100%,#bec7a8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #edecf1 0%,#f2f1f6 2%,#f2f1f7 6%,#f0eff5 9%,#f1f0f5 79%,#e7e8e0 88%,#e4e8d9 89%,#dde3c9 95%,#d3dabb 98%,#bec7a8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #edecf1 0%,#f2f1f6 2%,#f2f1f7 6%,#f0eff5 9%,#f1f0f5 79%,#e7e8e0 88%,#e4e8d9 89%,#dde3c9 95%,#d3dabb 98%,#bec7a8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #edecf1 0%,#f2f1f6 2%,#f2f1f7 6%,#f0eff5 9%,#f1f0f5 79%,#e7e8e0 88%,#e4e8d9 89%,#dde3c9 95%,#d3dabb 98%,#bec7a8 100%); /* IE10+ */
background: linear-gradient(to bottom, #edecf1 0%,#f2f1f6 2%,#f2f1f7 6%,#f0eff5 9%,#f1f0f5 79%,#e7e8e0 88%,#e4e8d9 89%,#dde3c9 95%,#d3dabb 98%,#bec7a8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edecf1', endColorstr='#bec7a8',GradientType=0 ); /* IE6-9 */
}



.chicago_upGradiant
{
background: #ebecf0; /* Old browsers */
background: -moz-linear-gradient(top, #ebecf0 0%, #ebecf0 77%, #ece3e6 87%, #ece1df 88%, #ecdad8 94%, #e9d6d2 96%, #ead5d2 99%, #dfcac7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebecf0), color-stop(77%,#ebecf0), color-stop(87%,#ece3e6), color-stop(88%,#ece1df), color-stop(94%,#ecdad8), color-stop(96%,#e9d6d2), color-stop(99%,#ead5d2), color-stop(100%,#dfcac7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ebecf0 0%,#ebecf0 77%,#ece3e6 87%,#ece1df 88%,#ecdad8 94%,#e9d6d2 96%,#ead5d2 99%,#dfcac7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ebecf0 0%,#ebecf0 77%,#ece3e6 87%,#ece1df 88%,#ecdad8 94%,#e9d6d2 96%,#ead5d2 99%,#dfcac7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ebecf0 0%,#ebecf0 77%,#ece3e6 87%,#ece1df 88%,#ecdad8 94%,#e9d6d2 96%,#ead5d2 99%,#dfcac7 100%); /* IE10+ */
background: linear-gradient(to bottom, #ebecf0 0%,#ebecf0 77%,#ece3e6 87%,#ece1df 88%,#ecdad8 94%,#e9d6d2 96%,#ead5d2 99%,#dfcac7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebecf0', endColorstr='#dfcac7',GradientType=0 ); /* IE6-9 */


}
.newyork_upGradiant
{

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 78%, #faf9ff 83%, #f1eafc 89%, #e2d7ff 98%, #e0d5fd 99%, #d5caf2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(78%,#ffffff), color-stop(83%,#faf9ff), color-stop(89%,#f1eafc), color-stop(98%,#e2d7ff), color-stop(99%,#e0d5fd), color-stop(100%,#d5caf2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 78%,#faf9ff 83%,#f1eafc 89%,#e2d7ff 98%,#e0d5fd 99%,#d5caf2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ffffff 78%,#faf9ff 83%,#f1eafc 89%,#e2d7ff 98%,#e0d5fd 99%,#d5caf2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 78%,#faf9ff 83%,#f1eafc 89%,#e2d7ff 98%,#e0d5fd 99%,#d5caf2 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#ffffff 78%,#faf9ff 83%,#f1eafc 89%,#e2d7ff 98%,#e0d5fd 99%,#d5caf2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d5caf2',GradientType=0 ); /* IE6-9 */

}

.UNlistgradient, .UNIlistcover li
{
background: #f5f3f3; /* Old browsers */
background: -moz-linear-gradient(top, #f5f3f3 0%, #ffffff 1%, #ffffff 3%, #f5f5f5 67%, #f0f0f0 91%, #ededed 96%, #eeeeee 99%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f3f3), color-stop(1%,#ffffff), color-stop(3%,#ffffff), color-stop(67%,#f5f5f5), color-stop(91%,#f0f0f0), color-stop(96%,#ededed), color-stop(99%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f5f3f3 0%,#ffffff 1%,#ffffff 3%,#f5f5f5 67%,#f0f0f0 91%,#ededed 96%,#eeeeee 99%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f5f3f3 0%,#ffffff 1%,#ffffff 3%,#f5f5f5 67%,#f0f0f0 91%,#ededed 96%,#eeeeee 99%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f5f3f3 0%,#ffffff 1%,#ffffff 3%,#f5f5f5 67%,#f0f0f0 91%,#ededed 96%,#eeeeee 99%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #f5f3f3 0%,#ffffff 1%,#ffffff 3%,#f5f5f5 67%,#f0f0f0 91%,#ededed 96%,#eeeeee 99%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f3f3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.generalContactGradient
{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 30%, #ebebeb 72%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#f9f9f9), color-stop(72%,#ebebeb), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 30%,#ebebeb 72%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 30%,#ebebeb 72%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 30%,#ebebeb 72%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 30%,#ebebeb 72%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.bottomGradient
{
	background: #060900; /* Old browsers */
background: -moz-linear-gradient(top, #060900 0%, #424242 2%, #2f2f2f 4%, #2c2c2c 6%, #161616 50%, #040404 52%, #000000 54%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#060900), color-stop(2%,#424242), color-stop(4%,#2f2f2f), color-stop(6%,#2c2c2c), color-stop(50%,#161616), color-stop(52%,#040404), color-stop(54%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #060900 0%,#424242 2%,#2f2f2f 4%,#2c2c2c 6%,#161616 50%,#040404 52%,#000000 54%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #060900 0%,#424242 2%,#2f2f2f 4%,#2c2c2c 6%,#161616 50%,#040404 52%,#000000 54%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #060900 0%,#424242 2%,#2f2f2f 4%,#2c2c2c 6%,#161616 50%,#040404 52%,#000000 54%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom, #060900 0%,#424242 2%,#2f2f2f 4%,#2c2c2c 6%,#161616 50%,#040404 52%,#000000 54%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060900', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.trvGameHDgradient
{
height:33px;
line-height:33px!important;
border-bottom:1px solid #b8b8b8;
border-top:1px solid #b8b8b8;
text-align:center;
background: #faf8f8; /* Old browsers */
background: -moz-linear-gradient(top, #faf8f8 0%, #f8f8f8 44%, #f5f5f5 47%, #eaeaea 50%, #d2d2d2 88%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf8f8), color-stop(44%,#f8f8f8), color-stop(47%,#f5f5f5), color-stop(50%,#eaeaea), color-stop(88%,#d2d2d2), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #faf8f8 0%,#f8f8f8 44%,#f5f5f5 47%,#eaeaea 50%,#d2d2d2 88%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #faf8f8 0%,#f8f8f8 44%,#f5f5f5 47%,#eaeaea 50%,#d2d2d2 88%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #faf8f8 0%,#f8f8f8 44%,#f5f5f5 47%,#eaeaea 50%,#d2d2d2 88%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom, #faf8f8 0%,#f8f8f8 44%,#f5f5f5 47%,#eaeaea 50%,#d2d2d2 88%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf8f8', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.UniWrapperBG{
background: #98b63c; /* Old browsers */
background: -moz-linear-gradient(top, #98b63c 0%, #9ab83e 1%, #93b135 14%, #94b236 15%, #88a62a 31%, #86a428 37%, #7c9a1e 49%, #7a981c 55%, #769418 58%, #749216 63%, #729112 64%, #729112 67%, #6f8e0f 69%, #618001 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98b63c), color-stop(1%,#9ab83e), color-stop(14%,#93b135), color-stop(15%,#94b236), color-stop(31%,#88a62a), color-stop(37%,#86a428), color-stop(49%,#7c9a1e), color-stop(55%,#7a981c), color-stop(58%,#769418), color-stop(63%,#749216), color-stop(64%,#729112), color-stop(67%,#729112), color-stop(69%,#6f8e0f), color-stop(100%,#618001)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #98b63c 0%,#9ab83e 1%,#93b135 14%,#94b236 15%,#88a62a 31%,#86a428 37%,#7c9a1e 49%,#7a981c 55%,#769418 58%,#749216 63%,#729112 64%,#729112 67%,#6f8e0f 69%,#618001 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #98b63c 0%,#9ab83e 1%,#93b135 14%,#94b236 15%,#88a62a 31%,#86a428 37%,#7c9a1e 49%,#7a981c 55%,#769418 58%,#749216 63%,#729112 64%,#729112 67%,#6f8e0f 69%,#618001 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #98b63c 0%,#9ab83e 1%,#93b135 14%,#94b236 15%,#88a62a 31%,#86a428 37%,#7c9a1e 49%,#7a981c 55%,#769418 58%,#749216 63%,#729112 64%,#729112 67%,#6f8e0f 69%,#618001 100%); /* IE10+ */
background: linear-gradient(to bottom, #98b63c 0%,#9ab83e 1%,#93b135 14%,#94b236 15%,#88a62a 31%,#86a428 37%,#7c9a1e 49%,#7a981c 55%,#769418 58%,#749216 63%,#729112 64%,#729112 67%,#6f8e0f 69%,#618001 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b63c', endColorstr='#618001',GradientType=0 ); /* IE6-9 */
}
.NBCWrapperBG, .ChicagoWrapperBG{
background: #f1805e; /* Old browsers */
background: -moz-linear-gradient(top, #f1805e 0%, #fa8661 1%, #fa845e 2%, #f98560 4%, #f7815d 12%, #f6805a 16%, #f57d58 16%, #f57d58 20%, #f67c55 21%, #f2734a 37%, #f17249 43%, #ee6d43 48%, #ef6c42 52%, #ee6b3f 52%, #ee693e 58%, #ed6639 61%, #ee673a 62%, #e95e33 74%, #ec5f32 75%, #e55729 91%, #e65425 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1805e), color-stop(1%,#fa8661), color-stop(2%,#fa845e), color-stop(4%,#f98560), color-stop(12%,#f7815d), color-stop(16%,#f6805a), color-stop(16%,#f57d58), color-stop(20%,#f57d58), color-stop(21%,#f67c55), color-stop(37%,#f2734a), color-stop(43%,#f17249), color-stop(48%,#ee6d43), color-stop(52%,#ef6c42), color-stop(52%,#ee6b3f), color-stop(58%,#ee693e), color-stop(61%,#ed6639), color-stop(62%,#ee673a), color-stop(74%,#e95e33), color-stop(75%,#ec5f32), color-stop(91%,#e55729), color-stop(100%,#e65425)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f1805e 0%,#fa8661 1%,#fa845e 2%,#f98560 4%,#f7815d 12%,#f6805a 16%,#f57d58 16%,#f57d58 20%,#f67c55 21%,#f2734a 37%,#f17249 43%,#ee6d43 48%,#ef6c42 52%,#ee6b3f 52%,#ee693e 58%,#ed6639 61%,#ee673a 62%,#e95e33 74%,#ec5f32 75%,#e55729 91%,#e65425 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f1805e 0%,#fa8661 1%,#fa845e 2%,#f98560 4%,#f7815d 12%,#f6805a 16%,#f57d58 16%,#f57d58 20%,#f67c55 21%,#f2734a 37%,#f17249 43%,#ee6d43 48%,#ef6c42 52%,#ee6b3f 52%,#ee693e 58%,#ed6639 61%,#ee673a 62%,#e95e33 74%,#ec5f32 75%,#e55729 91%,#e65425 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f1805e 0%,#fa8661 1%,#fa845e 2%,#f98560 4%,#f7815d 12%,#f6805a 16%,#f57d58 16%,#f57d58 20%,#f67c55 21%,#f2734a 37%,#f17249 43%,#ee6d43 48%,#ef6c42 52%,#ee6b3f 52%,#ee693e 58%,#ed6639 61%,#ee673a 62%,#e95e33 74%,#ec5f32 75%,#e55729 91%,#e65425 100%); /* IE10+ */
background: linear-gradient(to bottom, #f1805e 0%,#fa8661 1%,#fa845e 2%,#f98560 4%,#f7815d 12%,#f6805a 16%,#f57d58 16%,#f57d58 20%,#f67c55 21%,#f2734a 37%,#f17249 43%,#ee6d43 48%,#ef6c42 52%,#ee6b3f 52%,#ee693e 58%,#ed6639 61%,#ee673a 62%,#e95e33 74%,#ec5f32 75%,#e55729 91%,#e65425 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1805e', endColorstr='#e65425',GradientType=0 ); /* IE6-9 */
}
.NewyorkWrapperBG{
background: #8f78d0; /* Old browsers */
background: -moz-linear-gradient(top, #8f78d0 0%, #806abf 22%, #5d4895 61%, #5b4691 63%, #55408b 71%, #523e86 73%, #463279 89%, #402c73 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8f78d0), color-stop(22%,#806abf), color-stop(61%,#5d4895), color-stop(63%,#5b4691), color-stop(71%,#55408b), color-stop(73%,#523e86), color-stop(89%,#463279), color-stop(100%,#402c73)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8f78d0 0%,#806abf 22%,#5d4895 61%,#5b4691 63%,#55408b 71%,#523e86 73%,#463279 89%,#402c73 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8f78d0 0%,#806abf 22%,#5d4895 61%,#5b4691 63%,#55408b 71%,#523e86 73%,#463279 89%,#402c73 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8f78d0 0%,#806abf 22%,#5d4895 61%,#5b4691 63%,#55408b 71%,#523e86 73%,#463279 89%,#402c73 100%); /* IE10+ */
background: linear-gradient(to bottom, #8f78d0 0%,#806abf 22%,#5d4895 61%,#5b4691 63%,#55408b 71%,#523e86 73%,#463279 89%,#402c73 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f78d0', endColorstr='#402c73',GradientType=0 ); /* IE6-9 */
}
.dirBtnGrnt_blue
{
font-weight:bold;
color:#FFF;	
border-left:1px solid #48899a;
border-right:1px solid #48899a;
border-top:1px solid #48899a;
height:23px!important;
background: #2c93b4; /* Old browsers */
background: -moz-linear-gradient(top, #2c93b4 0%, #319bbc 13%, #389fbf 35%, #399fbf 48%, #3397b7 52%, #2586a5 55%, #2586a5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c93b4), color-stop(13%,#319bbc), color-stop(35%,#389fbf), color-stop(48%,#399fbf), color-stop(52%,#3397b7), color-stop(55%,#2586a5), color-stop(100%,#2586a5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2c93b4 0%,#319bbc 13%,#389fbf 35%,#399fbf 48%,#3397b7 52%,#2586a5 55%,#2586a5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2c93b4 0%,#319bbc 13%,#389fbf 35%,#399fbf 48%,#3397b7 52%,#2586a5 55%,#2586a5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2c93b4 0%,#319bbc 13%,#389fbf 35%,#399fbf 48%,#3397b7 52%,#2586a5 55%,#2586a5 100%); /* IE10+ */
background: linear-gradient(to bottom, #2c93b4 0%,#319bbc 13%,#389fbf 35%,#399fbf 48%,#3397b7 52%,#2586a5 55%,#2586a5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c93b4', endColorstr='#2586a5',GradientType=0 ); /* IE6-9 */
}
.dirBtnGrnt_grey{
	color:#686868;
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top, #fcfcfc 0%, #fbfbfb 6%, #f0f0f0 29%, #dbdbdb 61%, #cdcdcd 87%, #cacaca 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(6%,#fbfbfb), color-stop(29%,#f0f0f0), color-stop(61%,#dbdbdb), color-stop(87%,#cdcdcd), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcfcfc 0%,#fbfbfb 6%,#f0f0f0 29%,#dbdbdb 61%,#cdcdcd 87%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcfcfc 0%,#fbfbfb 6%,#f0f0f0 29%,#dbdbdb 61%,#cdcdcd 87%,#cacaca 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fcfcfc 0%,#fbfbfb 6%,#f0f0f0 29%,#dbdbdb 61%,#cdcdcd 87%,#cacaca 100%); /* IE10+ */
background: linear-gradient(to bottom, #fcfcfc 0%,#fbfbfb 6%,#f0f0f0 29%,#dbdbdb 61%,#cdcdcd 87%,#cacaca 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */
}
.dirBtnGrnt_add{
background: #1fafd1; /* Old browsers */
background: -moz-linear-gradient(top,  #1fafd1 0%, #19a0c0 25%, #0d82a5 55%, #0a6d94 75%, #06688d 80%, #035c84 95%, #035c84 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1fafd1), color-stop(25%,#19a0c0), color-stop(55%,#0d82a5), color-stop(75%,#0a6d94), color-stop(80%,#06688d), color-stop(95%,#035c84), color-stop(100%,#035c84)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1fafd1 0%,#19a0c0 25%,#0d82a5 55%,#0a6d94 75%,#06688d 80%,#035c84 95%,#035c84 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1fafd1 0%,#19a0c0 25%,#0d82a5 55%,#0a6d94 75%,#06688d 80%,#035c84 95%,#035c84 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1fafd1 0%,#19a0c0 25%,#0d82a5 55%,#0a6d94 75%,#06688d 80%,#035c84 95%,#035c84 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1fafd1 0%,#19a0c0 25%,#0d82a5 55%,#0a6d94 75%,#06688d 80%,#035c84 95%,#035c84 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fafd1', endColorstr='#035c84',GradientType=0 ); /* IE6-9 */
}

.driveBtnGrnt_green
{
	color:#fff;
	font-size:12px;
    background: #8eab39; /* Old browsers */
    background: -moz-linear-gradient(top,  #8eab39 0%, #97b53c 4%, #92ae3c 19%, #849f35 48%, #668608 52%, #668508 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8eab39), color-stop(4%,#97b53c), color-stop(19%,#92ae3c), color-stop(48%,#849f35), color-stop(52%,#668608), color-stop(100%,#668508)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8eab39 0%,#97b53c 4%,#92ae3c 19%,#849f35 48%,#668608 52%,#668508 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8eab39 0%,#97b53c 4%,#92ae3c 19%,#849f35 48%,#668608 52%,#668508 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8eab39 0%,#97b53c 4%,#92ae3c 19%,#849f35 48%,#668608 52%,#668508 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8eab39 0%,#97b53c 4%,#92ae3c 19%,#849f35 48%,#668608 52%,#668508 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eab39', endColorstr='#668508',GradientType=0 ); /* IE6-9 */

}



.footerselectGradient{
	background: #4a4a4a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhNGE0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzM3MzczNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI3MjcyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzI0MjQyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNDI0MjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #4a4a4a 0%, #373737 48%, #272727 50%, #242424 52%, #242424 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(48%,#373737), color-stop(50%,#272727), color-stop(52%,#242424), color-stop(100%,#242424)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4a4a4a 0%,#373737 48%,#272727 50%,#242424 52%,#242424 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4a4a4a 0%,#373737 48%,#272727 50%,#242424 52%,#242424 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4a4a4a 0%,#373737 48%,#272727 50%,#242424 52%,#242424 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4a4a4a 0%,#373737 48%,#272727 50%,#242424 52%,#242424 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#242424',GradientType=0 ); /* IE6-8 */

}
.sellectArrow{
background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 0%, #f3f3f3 29%, #d9d9d9 74%, #cfcfcf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(29%,#f3f3f3), color-stop(74%,#d9d9d9), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#f3f3f3 29%,#d9d9d9 74%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#f3f3f3 29%,#d9d9d9 74%,#cfcfcf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#f3f3f3 29%,#d9d9d9 74%,#cfcfcf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#f3f3f3 29%,#d9d9d9 74%,#cfcfcf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */
}

.stageHDgradient,.stageHDgradient2
{
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 18%, #fdfef9 29%, #e6ecd0 84%, #e3ebc6 92%, #e2e9c7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(18%,#ffffff), color-stop(29%,#fdfef9), color-stop(84%,#e6ecd0), color-stop(92%,#e3ebc6), color-stop(100%,#e2e9c7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 18%,#fdfef9 29%,#e6ecd0 84%,#e3ebc6 92%,#e2e9c7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 18%,#fdfef9 29%,#e6ecd0 84%,#e3ebc6 92%,#e2e9c7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 18%,#fdfef9 29%,#e6ecd0 84%,#e3ebc6 92%,#e2e9c7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 18%,#fdfef9 29%,#e6ecd0 84%,#e3ebc6 92%,#e2e9c7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e9c7',GradientType=0 ); /* IE6-9 */
}

.chicagoHDgradient
{
background: #fffefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fffefe 0%, #fff7f4 22%, #ffdace 76%, #ffd3c4 98%, #f0c6b8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffefe), color-stop(22%,#fff7f4), color-stop(76%,#ffdace), color-stop(98%,#ffd3c4), color-stop(100%,#f0c6b8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fffefe 0%,#fff7f4 22%,#ffdace 76%,#ffd3c4 98%,#f0c6b8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fffefe 0%,#fff7f4 22%,#ffdace 76%,#ffd3c4 98%,#f0c6b8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fffefe 0%,#fff7f4 22%,#ffdace 76%,#ffd3c4 98%,#f0c6b8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fffefe 0%,#fff7f4 22%,#ffdace 76%,#ffd3c4 98%,#f0c6b8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffefe', endColorstr='#f0c6b8',GradientType=0 ); /* IE6-9 */

}
.newyorkHDgradient
{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f9f8fe 17%, #dbd2f7 72%, #d0c4f4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(17%,#f9f8fe), color-stop(72%,#dbd2f7), color-stop(100%,#d0c4f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f8fe 17%,#dbd2f7 72%,#d0c4f4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f9f8fe 17%,#dbd2f7 72%,#d0c4f4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f9f8fe 17%,#dbd2f7 72%,#d0c4f4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f9f8fe 17%,#dbd2f7 72%,#d0c4f4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0c4f4',GradientType=0 ); /* IE6-9 */

}



